/* Noma technology personalized css */
.navbar-nav .a{
    font-size: 20;
}

.text-warning {
    color: #ffca28!important;
}
.has-error .checkbox,.has-error .checkbox-inline,.has-error .control-label,.has-error .help-block,.has-error .radio,.has-error .radio-inline,.has-error.checkbox label,.has-error.checkbox-inline label,.has-error.radio label,.has-error.radio-inline label
{color:#a94442}
.has-error .form-control{border-color:#a94442;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}
.has-error .form-control:focus{border-color:#843534;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483}
.has-error .input-group-addon
{color:#a94442;background-color:#f2dede;border-color:#a94442}
.has-error .form-control-feedback{color:#a94442}
.single-result{
    background-color: white;
    
    
    margin-bottom: 3rem;
}
.single-result-row{
    border-radius: 1rem;
    border-color:#008000;
    box-shadow: black;
    margin-right: 2rem;  
    margin-left: 2rem;  
    padding: 2rem;
    border-style: solid;
    margin-bottom: 1rem;
}
@media (max-width:480px){
    .single-result{
        background-color: white;
        width:50%;
        border-bottom: black;
        padding-left: 2rem;
        margin-bottom: 1rem;
    }
    .single-result-row{
        width:90%;
        margin-left: 1rem;
        border-radius: 1rem;
        border-color:#008000;
        border-style: solid;
        margin-bottom: 1rem;
        width: 90%;
     
        margin-left: 1rem;
 
    }

}